/*
Stocks Color Reference List:
	DarkGrey: #505050
  LightGrey: #BEBEBE
  White: #FFFFFF
  Blue: #C3C3CCB
*/


/* Header */
.stocksHeader {
    color: #505050;
    background-color: #BEBEBE;
    border: none;
		padding: 10px;
}

.stocksMainContent {
    color: #505050;
    background-color: #FFFFFF;
		padding: 10px;
}

.indexContent {
	margin-top: 125px;
}

.axis path {
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: Lato;
	font-size: 13px;
}

body {
	padding-top: 0px !important;
}
