/*
Stocks Color Reference List:
	DarkGrey: #333
  LightGrey: #BEBEBE
  White: #FFFFFF
  Blue: #C3C3CCB
*/


/* Header */
.stocksHeader {
    color: #333;
    background-color: #BEBEBE;
    border: none;
		padding: 10px;
}

.stocksMainContent {
    color: #333;
    background-color: #FFFFFF;
		padding: 10px;
}

.indexContent {
	margin-top: 125px;
}

.axis path {
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: Lato;
	font-size: 13px;
}

.input-group-btn .btn-default {
	position: fixed !important;
	top: 0px;
	right: 30px;
	color: #333;
	border-color: #333;
	background-color: #BEBEBE;
}

.input-group .form-control {
	color: #333;
	border-color: #333;
}

body {
	padding-top: 0px !important;
}

.panel-default .panel-heading {
	color: #9d9d9d !important;
	background-color: #101010 !important;
	font-size: 1.5em;
}

.panel-body {
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	border-radius: 3px;
}
