<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link href="/css/stocks.css" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<body>
	<div class="stocksHeader">
		<div class="row">
			<div class="col-md-6">
				<a class="index-logo" href="#"><img src="/imgs/samplelogo.jpg" alt="stocks" /></a>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</input>
				</div>
			</div>
		</div>
	</div>
