<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<link href="/css/stocks.css" rel="stylesheet" type="text/css" />

<body>
	<div class="stocksHeader">
		<h1>Erik's Fudge Packing Machine</h1>
		<h3>Made for Grizz Hacks I </h3>
	</div>
	<p>just testing after</p>
