	<div class="mainContentBody">
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
		<div class="col-md-6 stocksMainContent">
			<svg class="visualisation" width="100%"; height="500"></svg>
		</div>
	</div>
</body>
