	<div class="mainContentBody">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-md-7 stocksMainContent">
				<div class="panel panel-default">
          <div class="panel-heading">
            <p>Yesterdays {{ .Ticker }} Ticker</p>
          </div>
					<div class="panel-body">
						<div class="jumbotron">
            	<svg id="visualisation" width=100% height="500"></svg>
            	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
            	<script>
								var minx;
								var maxx;
								var miny;
								var maxy;
								$( document ).ready(function() {
									$.ajax({
										type: "POST",
										url: 'http://104.131.18.185:8080/api/getday',
										data: { ticker: "{{ .Ticker }}", date: "2016-Mar-18" },
										success:function(a){
											var time_close = [];
											minx = Date.parse(a[0].Timestamp);
											minx = minx / 60000;
											maxx = Date.parse(a[0].Timestamp);
											maxx = maxx / 60000;
											miny = a[0].Close;
											maxy = a[0].Close;
											for (i = 0; i < a.length; i++) {
												var newtimestamp = Date.parse(a[i].Timestamp);
												newtimestamp = newtimestamp/60000;
												time_close.push({"Timestamp":newtimestamp, "Close":a[i].Close});

												if (newtimestamp > maxx) {
													maxx = newtimestamp;
												}
												if (newtimestamp < minx) {
													minx = newtimestamp;
												}
												if (a[i].Close > maxy) {
													maxy = a[i].Close;
												}
												if (a[i].Close < miny) {
													miny = a[i].Close;
												}
											}
											console.log("FINAL_MINX = " + minx);
											console.log("FINAL_MAXX = " + maxx);
											console.log("FINAL_MINY (before margin) = " + miny);
											console.log("FINAL_MAXY (before margin) = " + maxy);
											InitChart(time_close);
										},
										error: function(){
											console.log("Handle error")
										},
										dataType: 'json'
									});
								});

              function InitChart(list) {
                    var vis = d3.select("#visualisation"),
                        WIDTH = 1000,
                        HEIGHT = 500,
                        MARGINS = {
                            top: 20,
                            right: 20,
                            bottom: 20,
                            left: 50
                        },
                        xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([minx, maxx]),
                        yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([miny, maxy]),
                        xAxis = d3.svg.axis()
                        .scale(xScale),
                        yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");
                    
                    vis.append("svg:g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                        .call(xAxis);
                    vis.append("svg:g")
                        .attr("class", "y axis")
                        .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                        .call(yAxis);
                    var lineGen = d3.svg.line()
                        .x(function(d) {
                            return xScale(d.Timestamp);
                        })
                        .y(function(d) {
                            return yScale(d.Close);
                        })
                        .interpolate("basis");
                    vis.append('svg:path')
                        .attr('d', lineGen(list))
                        .attr('stroke', 'green')
                        .attr('stroke-width', 2)
                        .attr('fill', 'none');
                }
            	</script>
        		</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 stocksMainContent">
				<div class="panel panel-default">
          <div class="panel-heading">
              <p>Articles for {{ .Ticker }}</p>
          </div>
					<div class="panel-body">
                        <ul id="links"></ul>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-md-6 stocksMainContent">
				<div class="panel panel-default">
          <div class="panel-heading">
            <p>Word Weight for {{ .Ticker }}</p>
          </div>
					<div class="panel-body">
						<div class="chart">
							<div style="width: 40px;">Word: 4</div>
							<div style="width: 80px;">Poop: 8</div>
							<div style="width: 150px;">Brandon: 15</div>
							<div style="width: 160px;">Dirt: 16</div>
							<div style="width: 230px;">Shareholder: 23</div>
							<div style="width: 420px;">Soap: 42</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 stocksMainContent">
				<div class="panel panel-default">
          <div class="panel-heading">
            <p>Test Panel Head</p>
          </div>
					<div class="panel-body">
						<svg class="visualisation" width="100%"; height="500"></svg>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
    <script type="text/javascript">
            $( document ).ready(function() {
                $.ajax({
                    type: "POST",
                    url: 'http://104.131.18.185:8080/api/getarticleids',
                    data: { ticker: "{{ .Ticker }}"},
                    success:function(a){
                        if (a.length>10) {
                            size = 10;
                        } else {
                            size = a.length;
                        }

                        for(i=0; i<size; i++) {
                            $( "#links" ).append( "<li><a href=\""+a[i].Url+"\">Article!</a></li>" );
                        }
                    },
                    error: function(){
                        console.log("Handle error")
                    },
                    dataType: 'json'
                });
            });
    </script>
</body>
